<div class="toolbar" role="banner">
    
    <img
        width="40"
        alt="Angular Logo"
        src="../../assets/img/Angular-White.png"
    />

    <span>Welcome to Tweeter!</span>
        <div class="spacer"></div>
        <a href="https://github.com/Staisha-N"><img src="assets/img/icons8-github-48.png"></a>
        <a href="https://www.linkedin.com/in/staisha-neville/"><img src="assets/img/icons8-linkedin-50.png"></a>
    </div>
  
    <div class="content" role="main">
  
    <h2>Update</h2>
    <p>Update your post here!</p>

    <div id="leaf-background"class="container"></div> 
  
</div>


